sudo: required
dist: xenial
# dist: trusty
language: c
compiler: gcc
before_install:
  - sudo apt-get remove oracle-java9-installer
  - sudo dpkg --add-architecture i386
  - sudo apt-get -qq update
  - sudo apt-cache search zlib
  - sudo apt-get --assume-yes install gcc help2man git make zlib1g-dev libc6-dev-i386 zlib1g-dev:i386
  - ls -l /usr/include/z*.h
script:
  - make FORCE_32BIT=1 V=2 -j4
  - make clean
  - make -j4
  - make test_software
  - make clean
