sudo: required
dist: trusty
language: c
compiler: gcc
before_install:
  - sudo apt-get -qq update
  - sudo apt-get --assume-yes install gcc help2man git make zlib1g-dev
script:
  - make
  - make test_software
